.App{
  background-color: rgb(121, 6, 156);
  text-align: center;
}
.button{
  margin: 5px;
  border: solid 5px #111101;
  border-radius: 10px;
}
button:hover{
  background-color: rgb(157, 161, 157);
}